

.img-shadow{
    box-shadow: 2px 2px 10px #000a;
}
.img-round{
    box-shadow: 2px 2px 10px #000a;
    border-radius: 10px;

}
.truck_title{
    border-bottom: 5px solid #F27405;
    border-bottom-right-radius: 10px;
    width: fit-content;
    padding-right: 10px;
}
.list-dot{
    list-style-type: disc;
}
